{% extends "template-with-imports.njk" %}

{% block pageTitle -%}
  {%- if errors === true or (errors | length) %}Error: {% endif -%}
  {%- if pageName %}{{ pageName }} – {% endif -%}
  {{ serviceName }} – NHS
{%- endblock %}

{% set assetPath = "/nhsuk-frontend/assets" %}

{% block bodyEnd %}
  <script type="module" src="/nhsuk-frontend/nhsuk-frontend.min.js"></script>
  <script type="module" src="/nhsuk-prototype-kit/javascripts/send-unchecked-checkboxes.js"></script>
  <script type="module">
    import { initAll } from '/nhsuk-frontend/nhsuk-frontend.min.js'
    initAll()
  </script>
  {{ super() }}
{% endblock %}

