
# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# System Files
.DS_Store
Thumbs.db

# ESlint cache
.cache

# Compiled assets for the test app
testapp/public
