{% extends "govuk-prototype-kit-template.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block head %}
  <link href="/stylesheets/application-govuk.css" rel="stylesheet">
{% endblock %}

{% set pageName = "GOV.UK Frontend" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/@x-govuk/govuk-prototype-components/govuk-prototype-components.min.js"></script>
  <script type="module" src="/javascripts/application.js"></script>
  <script type="module">
    window.GOVUKPrototypeComponents.initAll()
  </script>
  {{ super() }}
{% endblock %}
