{% extends "layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if messages.success %}
        {{ notificationBanner({
          text: (messages.success | first),
          type: "success"
        }) }}
      {% endif %}

      <h1>{{ serviceName }}</h1>

      <p>Custom CSS: <span class="app-test">test</span>. Custom JavaScript: <span data-module="app-test"></span></p>

      <p>This index page is being auto-routed.</p>

      <p><code>organisationName</code>: {{ organisationName }}.</p>

      <form action="/example/result" method="post" novalidate>

        {{ input({
          name: "test",
          label: {
            text: "Test",
            classes: "nhsuk-label--s"
          },
          value: data.test
        }) }}

        {{ checkboxes({
          name: "preferences",
          fieldset: {
            legend: {
              text: "Checkboxes test",
              classes: "nhsuk-fieldset__legend--s"
            }
          },
          values: data.preferences,
          items: [
            {
              text: "A",
              value: "A"
            },
            {
              text: "B",
              value: "B"
            },
            {
              divider: 'or'
            },
            {
              text: "C",
              value: "C",
              exclusive: true
            }
          ]
        }) }}

        {{ button({ text: "Save" }) }}
      </form>

      <p><a href="/content-page">Content page</a>.</p>
      <p><a href="/custom-route">Custom route</a>.</p>
      <p><a href="/test-flash">Test flash message</a>.</p>
      <p><a href="/containing-error">Template with a syntax error</a>.</p>
      <p><a href="/test-using-njk-extension">Test auto-routing with a <code>.njk</code> extension</a></p>
      <p><a href="/example">Test auto-routing using an <code>index.html</code> file in a subfolder</a></p>

      {% macro pageIndex(params) %}
        {% if params.children | length %}
        <ul>
          {% for page in params.children %}
          <li>
            <a href="{{ page.href }}">{{ page.text }}</a>
            {{ pageIndex(page) }}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endmacro %}

      <h2>Page listing</h2>
      {{ pageIndex({ children: pageListing() }) }}

    </div>
  </div>
{% endblock %}
