name: Tests

on: pull_request

jobs:
  tests:
    name: Javascript tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['20', '22', '24']
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run javascript tests
        run: npm run test:ci
      - name: Test resolving entry paths
        run: |
          node --eval "console.log(require.resolve('nhsuk-prototype-kit'))" --conditions import
          node --eval "console.log(require.resolve('nhsuk-prototype-kit/utils'))" --conditions import
          node --eval "console.log(require.resolve('nhsuk-prototype-kit/utils/find-available-port.js'))" --conditions import

          node --eval "console.log(require.resolve('nhsuk-prototype-kit'))"
          node --eval "console.log(require.resolve('nhsuk-prototype-kit/utils'))"
          node --eval "console.log(require.resolve('nhsuk-prototype-kit/utils/find-available-port.js'))"
